@charset "utf-8";

a:hover{color:#c00;text-decoration:underline;}

/* votebox */
.main .content1 .child2 .prog .votebox{width:200px;text-align:left;position:relative;z-index:66;float: left;}
/* barbox */
.main .content1 .child2 .prog .barbox{height:16px;line-height:16px;overflow:hidden;}
.main .content1 .child2 .prog .barbox dt a{color:#0048CC;}
.main .content1 .child2 .prog .barbox dd{float:left;}
.main .content1 .child2 .prog .barbox dd.last{color:#999;}
 .main .content1 .child2 .prog .barbox dd.barline{width:200px;background:url(../images/jdtbg.png) left center no-repeat;height:16px;overflow:hidden;display:inline;}
.main .content1 .child2 .prog .barbox dd.barline div.charts{height:16px;overflow:hidden;background:url(../images/barbg.gif) right center repeat-x;border-radius:8px;background-size:200px;}

/*图片放大插件*/
.zoomed > .container{-webkit-filter:blur(3px);filter:blur(3px);}
.container{width:860px;margin:20px auto;}
.gallery{list-style-type:none;float:left;}
.gallery li{float:left;margin:10px; width:80px; height:80px;}
.gallery li:nth-child(6n){padding-right:0;}
.gallery li a,.gallery li img{float:left;}