@charset "utf-8";
/*轮播begin*/
.changeBox-a1{
	width:100%;
	height:400px;
	position:relative;
	top:0;
	left:0;
	background:#fff;
	overflow:hidden;
	}
.changeBox-a1 .changeDiv{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:0;
	}
.changeBox-a1 .changeDiv a{
    min-width:1200px;
    width:100%;
    height:400px;
    display: block;
	}

.div-change{
	position:absolute;
	left:50%;
	margin-left:-590px;
	bottom:5px;
	width:1180px;
	height:30px;
	z-index:11;
	}
.div-change .btn-bg{
	position:absolute;
	left:0;
	top:0;
	width:140px;
	height:27px;
	padding-left:15px;
	filter:alpha(opacity=50);    /* IE 4-7 */
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;              /* Firefox, Safari(WebKit), Opera */
    background:#ffffff;
	border-radius:12px;
	}
.div-change ul{
	position:absolute;
	left:507px;
	top:-10px;
	height:21px;
	padding-top:7px;
	width:140px;
	padding-left:15px;
 	}
.div-change li{
	float:left;
	*zoom:1;
	width:15%;
	cursor:pointer;
	height:10px;
	list-style: none;
	}
.div-change li span{
	display:inline-block;
	_display:inline;
	_zoom:1;
	width:100%;
	height:12px;
	_font-size:0;
	background:url(../images/slider-btn.png) 0 -13px no-repeat;
	}
.div-change li span.on{
	background:url(../images/slider-btn.png) 0 0 no-repeat;
	}

.changeBox-a1 .btnregister{
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
}
.changeBox-a1 .btnregister .ster1{
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #0084e8;
}
.changeBox-a1 .btnregister .height1{
    margin-top: 64px;
    margin-bottom: 20px;
}
.changeBox-a1 .btnregister .ster2{
    display: inline-block;
    width: 106px;
    height: 35px;
    float: left;
    margin-top: 34px;
    line-height: 35px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.changeBox-a1 .btnregister .height2{
    margin-left: 28px;
    background-color: #0084e8;
}
.changeBox-a1 .btnregister .height3{
    margin-left: 23px;
    background-color: #f8631f;
}
/*轮播End*/

/*动画弹窗*/
.changeBox-a1 .btn_bg{
	position: relative;
	top: -290px;
	left: 62%;
	width: 294px;
	height: 247px;
	z-index: 0;
	display: block;
	border-radius: 5px;

}
.changeBox-a1 .btn_bg .btn_bt{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
    opacity: 0.7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    filter:alpha(opacity=70);
    background-color: #ffffff;

}
.changeBox-a1 .btn_bg .btnup{
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 100%;
	padding-top: 19px;

}
.changeBox-a1 .btn_bg .btnimg{
	width: 85px;
	height: 85px;
	margin: 0 auto;
}
.changeBox-a1 .btn_bg .btnimg img{
	width: 100%;
	height: 100%;
}
.changeBox-a1 .btn_bg h2{
	width: 212px;
	font-size: 14px;
	color: #333333;


	margin: 34px auto 0;
}
.changeBox-a1 .btn_bg h2 b{
	font-weight: normal;
	color: #f8631f;
}
.changeBox-a1 .btn_bg .myaccount{
	display: block;
	width: 199px;
	height: 36px;
	color: #ffffff;
	font-size: 18px;
	border-radius: 5px;
	line-height: 36px;
	text-align: center;
	margin: 34px auto 0;
	text-decoration: none;
	background-color: #f8631f;
}

/*内容style*/
.novice{
	width: 1200px;
	margin: 0 auto;
}
.enjoy{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	font-size: 24px;
	color: #4599eb;
	margin: 16px 0 22px 10px;
}

.none{
	border-top: none;
}
.numbers{
	position: absolute;
	display: block;
	width: 108px;
	text-align: center;
	font-size: 18px;
	color: #0084e8;
	left: 27px;
	top: 10px;
}
.numbers:hover{
	color: #0084e8;
}

.orange{
	color: #f8631f;
}
.orange:hover{
	color: #f8631f;
}

.homedown{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	margin-top: 36px;
	background-color: #fafefe;
}
.homedown a{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	text-align: center;
	font-size: 22px;
	color: #6b839d;
	display: block;
	text-decoration: none;
	background-color: #d7e0e8;
}
.homedown a:hover{
	background-color: #bbcbd8;
}
/*tanchuang*/

.integral {
    width: 270px;
    height: 270px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 45px;
    text-align: center;
    display: block;
    padding: 25px
}

.integral .user-logout .icon-yard {
    position: absolute;
    top: -1px;
    left: -1px
}

.integral .user-logout .ul-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 36px
}

.integral .user-logout .ul-rate {
    font-size: 50px;
    color: #f60;
    margin-top: 10px;
    margin-bottom: 20px
}

.integral .user-logout .ul-rate span {
    font-size: 38px
}

.integral .user-logout .ul-line {
    height: 1px;
    background: #fff;
    opacity: .15;
    filter: alpha(opacity=15)
}

.integral .user-logout .ul-message {
    margin-top:20px;
    height: 40px;
    overflow: hidden
}

.integral .user-logout .ul-message ul {
    position: relative
}

.integral .user-logout .ul-message li {
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    color: #ccc;
    font-size: 14px
}

.integral .user-logout .txt {
    color: #fff;
    margin-top: 20px;
    font-size: 14px
}

.integral .user-logout .txt span {
    color: #f60
}

.integral .barcode-view img {
    width: 135px;
    height: 135px;
    margin-top: 30px
}

.integral .barcode-view p {
    margin-top: 15px
}

.integral .barcode-view .onesweep span {
    width: 105px;
    margin: 0 10px;
    display: inline-block;
    zoom: 1;
    color: #f60;
    font-size: 14px
}

.integral .barcode-view b {
    height: 1px;
    background: #fff;
    width: 70px;
    display: inline-block;
    zoom: 1;
    position: relative;
    top: -5px;
    opacity: .15;
    filter: alpha(opacity=15)
}

.integral .background, .integral .background.icon-barcode {
	width:100%;
	height:100%;
    background: url(../images/icon-barcode-background.png)
}

.integral .barcode-view .barcode-view-tip {
    color: #fff;
    font-size: 14px
}

.integral .barcode-view .barcode-view-tip span {
    margin: 0 10px
}

.integral .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.today-issue .a-today, .today-issue ul {
    position: relative
}

.integral .background .icon-integral {
    background: url(../images/icon-integral-background.png)
}

.integral .user-login-info {
    color: #fff
}

.integral .user-login-info .name {
    margin: 10px 0
}

.integral .user-login-info .line {
    height: 1px;
    width: 100%;
    background: #fff;
    opacity: .15;
    filter: alpha(opacity=15);
    margin-bottom: 20px
}

.integral .user-login-info p {
    margin: 40px 0;
    font-size: 16px;
    text-align: left
}

.integral .user-login-info span {
    color: #f60;
    margin: 0 5px
}

.integral .user-login-info .recharge {
    color: #fff;
    background: #f60;
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 14px
}


.integral .m-btn {
    padding: 10px 40px;
    width: 180px
}
.banner-center {width:1200px;height:100%;margin:0 auto;position:relative;}



.trade-data .roll {
    overflow: hidden;
    position: relative
}

.trade-data {
    font-size: 14px;
    line-height: 16px;
    background: #f9fbf9;
    padding: 17px 0;
    border-bottom: 1px solid #efefef
}

.trade-data .title {
    float: left;
    border-right: 1px solid #999;
    padding-right: 10px
}

.trade-data .title .icon {
    margin-right: 5px;
    margin-top: -4px
}

.trade-data .roll {
    float: left;
    margin-left: 10px;
    height: 16px;
    width: 980px;
    text-align: left
}

.trade-data .roll ul {
    position: relative
}

.trade-data .roll a {
    display: block
}

.trade-data .roll .time {
    float: right
}

.trade-data .more {
    float: right;
    color: #999
}

.user-logout{
	height:205px;
}
.user-login-info {
	height:214px;
}

/*ad*/
.content-section {
	width:1080px;
	height:155px;
	margin:0 auto;
	margin-bottom: 20px
}

.info-con {
	height: 155px
}

.info-con .info-item {
	text-decoration: none;
	float: left;
	width: 225px;
	height: 135px;
	color: #848484;
	font-size: 18px;
	margin-right: 40px;
	padding: 20px 0 0 30px
}

.info-con .info-item.info-item-last {
	margin-right: 0
}

.info-con .info-item h2 {
	color: #397cc0;
	font-size: 24px;
	height: 54px;
	line-height: 54px;
	text-align: center;
}

.info-con .info-item h2 .icon {
	display:inline-block;
	position: relative;
	top: -5px;
	left:-10px;
	width: 38px;
	height: 38px;
	background: url(../images/icon_4538046.png) no-repeat scroll left top
}

.info-con .info-item h2 .icon.icon-1 {
	background-position: 0 0
}

.info-con .info-item h2 .icon.icon-2 {
	background-position: -70px 0
}

.info-con .info-item h2 .icon.icon-3 {
	background-position: -147px 0
}

.info-con .info-item h2 .icon.icon-4 {
	background-position: -220px 0
}

.info-con .info-item p {
	line-height: 32px;
	text-align: center;
}

.right-more {float:right;font-size:16px;color:#4599eb;text-decoration: none;margin:17px 26px 0 0;}
.right-more:hover {text-decoration: underline;}


































































