@charset "utf-8";
/*广告样式over*/
.invest .select {
    width: 1200px;
    margin: 19px auto 0;
}

.invest .select .lect {
    width: 1200px;
    height: 62px;
    line-height: 62px;
    font-size: 22px;
    color: #666;
}

.invest .select .lect span {
    margin-left: 10px;
}















































