@charset 'UTF-8';
/**
* 修改投资详情页面
*/

hr.dashed {
margin: 20px 0 10px;
}

#map {
position: absolute;
right: 35px;
width: 300px;
height: 240px;
overflow: hidden;
}

.tab-nav {
font-size: 16px;
}

.tab-nav li a {
padding: 10px 25px;
}

.project-summary .field-validation-error {
position: absolute;
top: 30px;
left: 0;
z-index: 1010;
max-width: 276px;
padding: 1px;
text-align: left;
white-space: normal;
background-color: #f2dede;
border: 1px solid #b94a48;
padding: 4px;
text-shadow: 0 1px 0 #FFF;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}

article .wall {
background: none;
}

aside hr.dashed {
margin: 10px 0;
}

aside h4 {
margin-bottom: 5px;
}

#map {
position: absolute;
right: 35px;
width: 300px;
height: 240px;
overflow: hidden;
}

.project-summary .field-validation-error {
position: absolute;
top: 30px;
left: 0;
z-index: 1010;
max-width: 276px;
padding: 1px;
text-align: left;
white-space: normal;
background-color: #f2dede;
border: 1px solid #b94a48;
padding: 4px;
text-shadow: 0 1px 0 #FFF;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}

.dl-horizontal {
overflow: hidden;
}

.dl-horizontal .progress,.dl-horizontal .rate-value {
float: left;
}

.dl-horizontal .rate-value {
width: 22%;
padding-left: 3%;
font-size: 12px;
}

.dl-horizontal .progress {
width: 75%;
}

.pvinfo-Container {
position: relative;
}

.pvinfo-Container .dl-horizontal {
margin-bottom: 0;
margin-top: 0;
}

.coupon {
margin-bottom: 20px;
border: 1px solid #CCC;
display: block;
padding: 15px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
position: relative;
height: 125px;
text-decoration: none !important;
color: #414141 !important;
}

.coupon:hover {
background-color: #eeeeee;
}

.checked {
background-color: #eeeeee;
}

.coupon-title {
-webkit-font-smoothing: antialiased;
color: rgb(0, 100, 141);
cursor: auto;
display: block;
font-family: 'Microsoft YaHei', 'Lucida Sans Unicode', 'Myriad Pro',
'Hiragino Sans GB', 'Heiti SC', Verdana, simsun;
font-size: 13px;
line-height: 20px;
width: 193px;
}

/*==新布局==*/

.main-info{}
.main-info .col-l-l,.main-info .col-l-r{min-height:180px;}
.main-info .col-l, .main-info .col-l-l{background:url(../images/dot-1-y.png) right 0 repeat-y;}
@media (max-width: 767px){
.main-info .col-l, .main-info .col-l-l{background:none;}
}
.main-info .col-l .box-title .sp-t2{color:#003e5c;font-size:16px;float:left;line-height:38px; margin-left:12px;}
.main-info .col-l .box-title .sp-t3{color:#666;font-size:14px;float:left;line-height:38px;margin-left:110px;}

.main-info .col-l-l-wraper{padding:0 16px;}
.main-info .col-l-l .b-1{border-bottom:1px dashed #E0E0E0;padding:10px 0;}
.main-info .col-l-l .b-1 .sp{width:33.33%;float:left;}
.main-info .col-l-l .b-1 .sp{}
.main-info .col-l-l .b-1 .text{font-size:14px;color:#333; line-height:25px; }
.main-info .col-l-l .b-1 .value{}
.main-info .col-l-l .b-1 .s-1{color:#f60;}
.main-info .col-l-l .b-1 .s-2{color:#159ee4;}
.main-info .col-l-l .b-1 .f-1{font-size:24px;font-weight:bold;}
.main-info .col-l-l .b-1 .f-2{font-size:18px;}
.main-info .col-l-l .b-1 .f-3{font-size:14px;}

.main-info .col-l-l .b-2{padding:15px 0;}
.main-info .col-l-r .p-item{padding:10px 0;}
.main-info .col-l-r .p-item-top{padding:20px 0;}
.main-info .col-l-r .p-item .sp-text{float:left;}
.main-info .col-l-r .p-item .sp-value{float:left;margin-left:10px;}
.main-info .col-l-r .p-item .project-progress{float:left;margin-left:10px;}
.main-info .col-r{margin-left:; }
.main-info .col-r-wraper{width:235px; }
.main-info .col-r .state-done{padding:20px 0 0; line-height:2; margin-top:40px;}
.main-info .col-r .state-done .ui-btn{padding-top:7px; padding-bottom:12px; margin-top:10px;}
.main-info .col-r .b-1{ padding:35px 0 0 0; }
.main-info .col-r .b-1 .sp-text{float:left; }
.main-info .col-r .b-1 .project-progress{float:left; margin-left:15px; margin-top:4px;}
.main-info .col-r .b-1 .sp-value{float:left; margin-left:5px; }
.main-info .col-r .b-2{padding-top:5px;}
.main-info .col-r .b-2 .sp-text{float:left;}
.main-info .col-r .b-2 .sp-value{float:left;color:#004e73;font-size:16px; margin-left:15px;}
.main-info .col-r .b-3{position:relative; margin-top:20px;}
.main-info .col-r .tip-money{padding-top:7px;}

.main-info .col-r .b-valid-error-1, .main-info .col-r .b-valid-error-2{width:248px; font-size:12px; position:absolute; left:0;border-radius:5px; border:1px solid #bbb; background:#fff;box-shadow: 0px 0px 7px rgba(0,154,227,.5);}
.main-info .col-r .b-valid-error-1{ }
.main-info .col-r .b-valid-error-wraper{padding:5px 5px 5px; }
.main-info .col-r .b-valid-error-1 .item{padding:5px 0 0; text-align:center; }
.main-info .col-r .b-valid-error-1 .ui-btn{width:80px; padding-left:0;padding-right:0;}
.main-info .col-r .state-timer .time-bar{font-size:12px; line-height:25px; margin-top:40px;}
.main-info .col-r .state-timer .btn-timer{ padding:6px 12px; color:#fff; background:#00ADFF; color:#fff; font-size:14px; text-align:center; border-radius:5px;}
.main-info .col-r .b-4{}
.main-info .col-r .b-4 .ui-btn{padding-left:0; padding-right:0; width:100%;}
.main-info .col-r .b-4 .ui-btn-login{ margin-top:15px;}
.main-info .col-r .b-4 .btn-tz{float:left;width:63%;}
.main-info .col-r .b-4 .btn-login-tz{float:left; width:100%; margin-top:15px;}
.main-info .col-r .b-4-full .btn-tz{width:100%;}
.main-info .col-r .b-4 .btn-q{float:left;width:24%; margin-left:10px; }

.pvinfo-Container .ui-round-box .box-title .xy-btn{position:absolute;right:12px;top:8px;}

.pvinfo-Container .ui-round-box .box-content{padding:10px 20px 0;}

.pvinfo-Container .ui-round-box .box-content-1{padding:50px;}
.pvinfo-Container .dl-horizontal dt{width:200px;}
.pvinfo-Container .dl-horizontal dd{margin-left:220px;}
.pvinfo-Container .fk-tb {border-spacing:2px;border-collapse:separate; background:#fff;}
.pvinfo-Container .fk-tb th, .pvinfo-Container .fk-tb td{text-align:center; padding:7px 0;}
.pvinfo-Container .fk-tb th{font-weight:normal;color:#fff;}
.pvinfo-Container .fk-tb td{color:#333;}
.pvinfo-Container .fk-tb thead th{background:#00ADFF;}
.pvinfo-Container .fk-tb .th-l{border-top-left-radius:5px;}
.pvinfo-Container .fk-tb .th-r{border-top-right-radius:5px;}
.pvinfo-Container .fk-tb .row-1{background:#E1E1E1;}
.pvinfo-Container .fk-tb .row-2{background:#fff;}
.pvinfo-Container .fk-tb .gou{ width:20px; height:20px; line-height:20px; display:block; margin:0 auto; background:url(../images/gou2.png) 0 0 no-repeat;}

.pvinfo-Container .box-xmxx  .box-title .sp-t1{background:url(../images/project/single-2020-1.png) 9px center no-repeat;}
.pvinfo-Container .box-qyxx  .box-title .sp-t1{background:url(../images/project/single-2020-2.png) 9px center no-repeat;}
.pvinfo-Container .box-fcxx  .box-title .sp-t1{background:url(../images/project/single-2020-8.png) 9px center no-repeat;}
.pvinfo-Container .box-dbqk  .box-title .sp-t1{background:url(../images/project/single-2020-7.png) 9px center no-repeat;}
.pvinfo-Container .box-fksh  .box-title .sp-t1{background:url(../images/project/single-2020-3.png) 9px center no-repeat;}

.side-container .box-cl .box-content{padding:10px 20px 0;}
.side-container .box-cl .box-title .sp-t1{background:url(../images/project/single-2020-4.png) 9px center no-repeat;}

.side-container .box-hkmx .box-title .sp-t1{background:url(../images/project/single-2020-5.png) 9px center no-repeat;}
.side-container .box-tbjl .box-title .sp-t1{background:url(../images/project/single-2020-6.png) 9px center no-repeat;}

/**修改详情顶部**/
.main-info .col-r .b-1 .project-progress{ margin-left:10px;}
.project-progress .progress{ width:115px;}
.touzi-money{ margin-top:15px;}
.forever-money{ height:20px; margin:5px 0 10px 0px; line-height:20px;font-size:12px;overflow:hidden;}
.amount-total{ margin-left:10px; border-bottom:1px solid #bbb; width:102px; padding:0 4px; height:18px; line-height:18px; color:#ff6600; display:inline-block; overflow:hidden; text-align:center;}
.ui-btn-size-1{ padding:12px 0;}
.label-toubiao{ width:50%; line-height:24px; float:left;}
.label-toubiao input{ margin-top:0;}