@charset "utf-8";
.main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    height: 1104px;
    background-color: #ffffff;
}

/*realname 实名认证页面*/

.mains {
    width: 1000px;
    margin: 0 auto;
    background-color: #fafefe;
}

.mains .mainContents {
    width: 1000px;
    height: 431px;
    background-color: #ffffff;
}

.mains .mainContents h1 {
    font-weight: normal;
    font-size: 16px;
    height: 70px;
    border-bottom: 2px solid #efefef;
}

.mains .mainContents h1 .child3 {
    margin-left: 26px;
    display: inline-block;
    margin-top: 22px;
}

.mains .mainContents .content {
    width: 510px;
    height: 207px;
    margin-top: 68px;
    margin-left: 249px;
}

.mains .mainContents .content .child4 {
    height: 44px;
    line-height: 44px;
}

.mains .mainContents .content .child4 .ffer1 {
    float: left;
    margin-left: 38px;
}

.mains .mainContents .content .child4 .ffer1 b {
    color: #d20909;
    font-weight: normal;
}

.mains .mainContents .content .realitems{
    width: 205px;
    height: 44px;
    float: left;
    border-radius: 4px;
    line-height: 44px;
    margin-left: 46px;
    padding-left: 10px;
    border: 1px solid #cccccc;
}

.mains .mainContents .content .child4 .fly1 {
    display: inline-block;
    float: left;
}

.mains .mainContents .content .child4 .fly1 span {
    float: left;
    color: #cc0202;
    font-size: 14px;
}

.mains .mainContents .content .child4 .fly1 img {
    display: inline-block;
    margin: 15px 10px;
    float: left;
}
.mains .mainContents .content .child5 {
    height: 44px;
    line-height: 44px;
    margin-top: 28px;
}
.cid{font-size: 16px;}
.mains .mainContents .content .child5 .ffer2 {
    float: left;
    margin-left: 6px;
}
.mains .mainContents .content .child5 .ffer2 b {
    color: #d20909;
    font-weight: normal;
}
.mains .mainContents .content .child5 .fly2 {
    display: inline-block;
    float: left;
}

.mains .mainContents .content .child5 .fly2 span {
    font-size: 14px;
    float: left;
    color: #cc0202;
}

.mains .mainContents .content .child5 .fly2 img {
    display: inline-block;
    margin: 15px 10px;
    float: left;
}

.mains .mainContents .content .subs {
    display: block;
    width: 219px;
    height: 44px;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 37px;
    margin-left: 123px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 27px;
    background-color: #0084e8;
}

.mains .mainContents .content .subs a {
    display: inline-block;
    width: 215px;
    color: #ffffff;
    padding-left: 16px;
    text-decoration: none;
}

/*绑定银行卡页*/

.mainer {
    width: 1000px;
    margin: 0 auto;
    clear: both;
    height: 583px;
    overflow: hidden;
}

.mainer .content {
    width: 1000px;
    clear: both;
    height: 518px;
}

.mainer .content h1 {
    height: 69px;
    line-height: 69px;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #efefef;
    background-color: #f8f8f8;
}

.mainer .content h1 .child3 {
    cursor: pointer;
    width: 500px;
    float: left;
    border-top: 1px solid #efefef;
}

.mainer .content h1 .child3 a {
    color: #333333;
    text-decoration: none;
}

.mainer .content h1 .child4 {
    width: 500px;
    float: left;
    height: 65px;
    line-height: 65px;
    cursor: pointer;
    border-top: 1px solid #3fa3ee;
    background-color: #ffffff;
}

.mainer .content h1 .child4 a {
    color: #333333;
    text-decoration: none;
}

.mainer .content h2 {
    height: 62px;
    clear: both;
    line-height: 62px;
    font-weight: normal;
    font-size: 22px;
    color: #333333;
    padding-left: 48px;
    border-bottom: 1px solid #efefef;
    background-color: #f8f8f8;
}

.mainer .content .addcard {
    height: 385px;
    background-color: #f8f8f8;
    padding: 21px 0 0 40px;
}

.mainer .content .addcard .addcardimg {
    cursor: pointer;
    width: 296px;
    height: 186px;
}

.mainer .content .addcard .addcardimg img {
    width: 100%;
    height: 100%;
}
/*弹出框style*/
#infor {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
    filter: alpha(opacity=60);
    background-color: #575D5D;
}

#informas {
    position: absolute;
    left: 30%;
    top:10%;
    width: 580px;
    height: 575px;
    z-index: 99999;
    background-color: #ffffff;
}

#informas h1 {
    font-weight: normal;
    font-size: 22px;
    height: 96px;
    line-height: 96px;
    width: 522px;
    margin: 0 auto;
    padding-left: 36px;
    border-bottom: 1px solid #eeeeee;
}

#informas h2 {
    width: 345px;
    height: 35px;
    line-height: 35px;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
    margin: 0 auto;
}

#informas h2 .led1 {
    color: #e91010;
    float: left;
}
#informas h2 .led2 {
    float: left;
}
#informas .cardholder {
    margin-top: 42px;
}
#informas .cardholder input {
    float: left;
    width: 227px;
    height: 35px;
    border-radius: 4px;
    margin-left: 49px;
    border: 2px solid #cccccc;
}
#informas .card {
    margin-top: 34px;
}
#informas .card .card1 {
    float: left;
    color: #e91010;
}
#informas .card .card2 {
    float: left;
}
#informas .card input {
    float: left;
    width: 227px;
    height: 35px;
    border-radius: 4px;
    margin-left: 67px;
    border: 2px solid #cccccc;
}
#informas .card .blan {
    float: left;
    width: 227px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    margin-left: 67px;
    border: 2px solid #cccccc;
}
#informas .ope {
    margin-top: 34px;
}
#informas .ope .city1 {
    float: left;
    color: #e91010;
}
#informas .ope .city2 {
    float: left;
}
#informas .ope #city_4 {
    display: inline-block;
    float: left;
    width: 258px;
}
#informas .ope #city_4 .prov {
    width: 71px;
    height: 35px;
    float: left;
    padding-left: 7px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 31px;
    border: 2px solid #cccccc;
}
#informas .ope #city_4 .city {
    width: 71px;
    height: 35px;
    float: left;
    padding-left: 7px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 5px;
    border: 2px solid #cccccc;
}
#informas .ope #city_4 .dist {
    width: 75px;
    height: 35px;
    float: left;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 5px;
    border: 2px solid #cccccc;
}
#informas .branch {
    margin-top: 34px;
}
#informas .branch .branch1 {
    float: left;
    color: #e91010;
}
#informas .branch .branch2 {
    float: left;
}
#informas .branch input {
    width: 227px;
    height: 35px;
    float: left;
    margin-left: 31px;
    border-radius: 4px;
    border: 2px solid #cccccc;
}
#informas .cancel {
    width: 98px;
    height: 35px;
    color: #ffffff;
    float: left;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    margin: 40px 0 0 230px;
    background-color: #cccccc;
}

#informas .save {
    width: 98px;
    height: 35px;
    color: #ffffff;
    float: left;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    margin: 40px 0 0 31px;
    background-color: #0084e8;
}

/*修改支付密码*/
.mained {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}
.mained .mainter {
    width: 1000px;
    height: 603px;
}

.mained .mainter h1 {
    height: 63px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 2px solid #efefef;
}

.mained .mainter h1 .child3 {
    display: inline-block;
    margin-left: 24px;
}

.mained .mainter .content {
    width: 566px;
    height: 371px;
    margin: 25px auto 0;
}

.mained .mainter .content .fly1 {
    width: 566px;
    height: 59px;
    margin: 0 auto;
}

.mained .mainter .content .fly1 .child4 {
    width: 566px;
    height: 30px;
}

.mained .mainter .content .fly1 .child4 .sat1 {
    display: inline-block;
    margin-left: 36px;
    float: left;
}

.mained .mainter .content .fly1 .child4 .sat2 {
    float: left;
    margin-top: 14px;
}

.mained .mainter .content .fly1 .child4 .sat3 {
    float: left;
    margin-top: 14px;
}

.mained .mainter .content .fly1 .child4 .sat4 {
    display: inline-block;
    float: left;
}

.mained .mainter .content .fly1 .child4 .sat5 {
    float: left;
    margin-top: 14px;
}

.mained .mainter .content .fly1 .child4 .sat6 {
    display: inline-block;
    float: left;
}

.mained .mainter .content .fly1 .child5 {
    font-size: 18px;
}

.mained .mainter .content .fly1 .child5 .nes1 {
    margin-left: 23px;
    margin-top: 9px;
    color: #0084e8;
    display: inline-block;
}

.mained .mainter .content .fly1 .child5 .nes2 {
    margin-left: 154px;
    margin-top: 9px;
    color: #cccccc;
    display: inline-block;
}

.mained .mainter .content .fly1 .child5 .nes3 {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    color: #cccccc;
    display: inline-block;
}

.mained .mainter .content .fly2 {
    width: 566px;
    height: 230px;
    margin-top: 83px;
    font-size: 18px;
}

.mained .mainter .content .fly2 .child6 {
    height: 18px;
}

.mained .mainter .content .fly2 .child6 .nes4 {
    float: left;
    color: #c34444;
}

.mained .mainter .content .fly2 .child6 .nes5 {
    float: left;
    color: #333333;
}

.mained .mainter .content .fly2 .child6 .nes6 {
    float: left;
    margin-left: 68px;
    color: #cccccc;
}

.mained .mainter .content .fly2 .child7 {
    height: 44px;
    margin-top: 64px;
    line-height: 44px;
}

.mained .mainter .content .fly2 .child7 .nes6 {
    float: left;
    color: #c34444;
}

.mained .mainter .content .fly2 .child7 .nes7 {
    float: left;
    color: #333333;
}

.mained .mainter .content .fly2 .child6 input {
    height: 44px;
    width: 152px;
    padding-left: 18px;
    line-height: 44px;
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid #cccccc;
    margin-left: 68px;
    float: left;
    position:relative;
    /*top:-14px;*/
}

.mained .mainter .content .fly2 .child7 input {
    height: 44px;
    width: 152px;
    padding-left: 18px;
    line-height: 44px;
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid #cccccc;
    margin-left: 68px;
    float: left;
}

.mained .mainter .content .fly2 .child7 a {
    float: left;
    color: #0084e8;
    margin-left: 21px;
    text-decoration: underline;
}

.mained .mainter .content .fly2 .child7 .nes8 {
    display: inline-block;
    width: 130px;
    float: left;
    margin-left: 21px;
    color: #cccccc;
}

.mained .mainter .content .fly2 .child7 .nes8 b {
    font-weight: normal;
    color: #0084e8;
}

.mained .mainter .content .fly2 .child8 {
    width: 272px;
    height: 44px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    border-radius: 4px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    margin: 60px 0 0 122px;
    background-color: #0084e8;
}

/*修改支付密码*/
.mainey {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

.mainey .maingers {
    width: 1000px;
    height: 491px;
    background-color: #f8f8f8;
}

.mainey .maingers h1 {
    font-weight: normal;
    font-size: 16px;
    height: 42px;
    padding-top: 25px;
    border-bottom: 2px solid #efefef;
}

.mainey .maingers h1 .child3 {
    margin-left: 26px;
}

.mainey .maingers .content {
    width: 341px;
    height: 321px;
    margin-top: 48px;
    margin-left: 237px;
}

.maingers .content .child4 {
    height: 44px;
    width: 485px;
    line-height: 44px;
}

.maingers .content .child4 .ffer1 {
    float: left;
    display: inline-block;
}

.maingers .content .child4 .ffer1 b {
    color: #d20909;
    float: left;
    font-weight: normal;
}

.maingers .content .child4 .passy1, .passy2 {
    width: 215px;
    height: 44px;
    float: left;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 44px;
    margin-left: 41px;
    display: inline-block;
    border: 2px solid #cccccc;
}

.maingers .content .child4 .fly1 {
    float: left;
}

.maingers .content .child4 .fly1 img {
    float: left;
    margin: 15px 10px;
    display: inline-block;
}

.maingers .content .child4 .fly1 span {
    float: left;
    display: inline-block;
    font-size: 14px;
    color: #cc0202;
}

.maingers .content .child4 .fly2 {
    float: left;
}

.maingers .content .child4 .fly2 img {
    float: left;
    margin: 15px 10px;
    display: inline-block;
}

.maingers .content .child4 .fly2 span {
    float: left;
    display: inline-block;
    font-size: 14px;
    color: #cc0202;
}

.maingers .content .line1 {
    margin-top: 27px;
}

.maingers .content .child5 {
    margin-top: 43px;
}

.maingers .content .child5 .ffer3 {
    margin-left: 33px;
}

.maingers .content .child5 .ffer2 b {
    color: #d20909;
    font-weight: normal;
}

.maingers .content .child6 {
    width: 516px;
    margin-top: 29px;
    line-height: 44px;
}
.fonts-z{
    font-size: 16px;
}
.maingers .content .child6 .nes8{
    display: inline-block;
    width: 134px;
    float: left;
    margin-left: 21px;
    color: #cccccc;
}
.maingers .content .child6 .nes8 b{
    font-weight: normal;
    color: #0084e8;
}
.maingers .content .child6 .ffer4 {
    float: left;
}

.maingers .content .child6 .ffer4 b {
    color: #d20909;
    margin-left: 37px;
    font-weight: normal;
    float: left;
}

.maingers .content .child6 .assy3 {
    width: 108px;
    height: 44px;
    float: left;
    font-size: 14px;
    padding-left: 10px;
    line-height: 44px;
    margin-left: 23px;
    border-radius: 4px;
    border: 2px solid #cccccc;
}

.maingers .content .child6 a {
    color: #0084e8;
    float: left;
    margin-left: 17px;
    text-decoration: underline;
}

.maingers .content .child6 .fly3 {
    float: left;
}

.maingers .content .child6 .fly3 img {
    float: left;
    display: inline-block;
    margin: 15px 10px;
}

.maingers .content .child6 .fly3 span {
    float: left;
    font-size: 14px;
    color: #cc0202;
    margin-top: 1px;
}

.maingers .content .subs {
    display: block;
    width: 229px;
    height: 44px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 4px;
    float: right;
    text-align: center;
    line-height: 44px;
    margin: 30px -3px 0 0;
    text-decoration: none;
    background-color: #0084e8;
}

.maingers .content .subs a {
    color: #ffffff;
    text-decoration: none;
}

/*修改支付密码*/

.riss {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

.riss .lescom {
    width: 1000px;
    height: 491px;
    background-color: #f8f8f8;
}

.riss .lescom h1 {
    font-weight: normal;
    font-size: 18px;
    height: 42px;
    padding-top: 25px;
    border-bottom: 2px solid #efefef;
}

.riss .lescom h1 .child3 {
    margin-left: 26px;
}

.riss .lescom .content {
    width: 546px;
    height: 287px;
    margin-left: 250px;
}

.lescom .content .child4 {
    margin-top: 48px;
    height: 44px;
    width: 542px;
    line-height: 44px;
}

.lescom .content .line {
    margin-top: 37px;
}

.lescom .content .child4 .ffer1 {
    display: inline-block;
    width: 136px;
    float: left;
    font-size: 16px;
    text-align: right;
}

.lescom .content .child4 .ffer1 b {
    color: #d20909;
    font-weight: normal;
}

.lescom .content .child4 .fly1, .fly2, .fly3 {
    font-size: 14px;
    color: #cc0202;
    float: left;
    display: inline-block;
}

.lescom .content .child4 .fly1 img {
    display: inline-block;
    float: left;
    margin: 15px 10px;
}

.lescom .content .child4 .fly1 span {
    float: left;
    height: 44px;
    line-height: 44px;
    display: inline-block;
}

.lescom .content .child4 .fly2 img {
    display: inline-block;
    float: left;
    margin: 15.5px 10px;
}

.lescom .content .child4 .fly2 span {
    float: left;
    height: 44px;
    line-height: 44px;
    display: inline-block;
}

.lescom .content .child4 .fly3 img {
    display: inline-block;
    float: left;
    margin: 15.5px 10px;
}

.lescom .content .child4 .fly3 span {
    float: left;
    height: 44px;
    line-height: 44px;
    display: inline-block;
}

.lescom .content .child4 .tait1 {
    width: 215px;
    height: 44px;
    float: left;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 44px;
    margin-left: 29px;
    border: 2px solid #cccccc;
}

.lescom .content .child5 {
    height: 44px;
    line-height: 44px;
    margin-top: 37px;
}

.lescom .content .child5 .subm {
    display: block;
    width: 215px;
    height: 44px;
    color: #fff;
    border-radius: 4px;
    margin-left: 163px;
    background-color: #0084e8;
    font-size: 18px;
    text-align: center;
}

.lescom .content .child5 .subm a {
    color: #fff;
    text-decoration: none;
}

/*修改登录密码*/

.disca {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

.disca .cation {
    width: 1000px;
    height: 491px;
    background-color: #f8f8f8;
}

.disca .cation h1 {
    font-weight: normal;
    font-size: 18px;
    height: 42px;
    padding-top: 25px;
    border-bottom: 2px solid #efefef;
}

.disca .cation h1 .child3 {
    margin-left: 26px;
}

.disca .cation .content {
    width: 482px;
    height: 287px;
    margin-left: 250px;
}

.disca .cation .content .child4 {
    margin-top: 48px;
    height: 44px;
    width: 500px;
    line-height: 44px;
}

.disca .cation .content .line {
    margin-top: 37px;
}

.disca .cation .content .child4 .ffer1 {
    display: inline-block;
    width: 102px;
    float: left;
    font-size: 16px;
    text-align: right;
}

.disca .cation .content .child4 .ffer1 b {
    color: #d20909;
    font-weight: normal;
}

.disca .cation .content .child4 .fly1, .fly2, .fly3 {
    font-size: 14px;
    color: #cc0202;
    float: left;
    display: inline-block;
}

.disca .cation .content .child4 .fly1 img {
    display: inline-block;
    float: left;
    position: relative;
    top: 15px;
    margin: 0 10px;
}

.disca .cation .content .child4 .fly1 span {
    float: left;
    height: 44px;
    line-height: 44px;
    display: inline-block;
}

.disca .cation .content .child4 .fly2 img {
    display: inline-block;
    float: left;
    margin: 15.5px 10px;
}

.disca .cation .content .child4 .fly2 span {
    float: left;
    height: 44px;
    line-height: 44px;
    display: inline-block;
}

.disca .cation .content .child4 .fly3 img {
    display: inline-block;
    float: left;
    margin: 15.5px 10px;
}

.disca .cation .content .child4 .fly3 span {
    float: left;
    height: 44px;
    line-height: 44px;
    display: inline-block;
}

.disca .cation .content .child4 .siter {
    width: 215px;
    height: 44px;
    float: left;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 44px;
    margin-left: 29px;
    border: 2px solid #cccccc;
}

.disca .cation .content .child5 {
    height: 44px;
    line-height: 44px;
    margin-top: 37px;
}

.disca .cation .content .child5 .subm {
    display: block;
    cursor: pointer;
    width: 229px;
    height: 44px;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 131px;
    background-color: #0084e8;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.disca .cation .content .child5 .subm a {
    color: #fff;
    text-decoration: none;
}

/*认证成功*/
.authen {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}
.authen .southe {
    width: 1000px;
    height: 432px;
    background-color: #f8f8f8;
}

.authen .southe h1 {
    height: 67px;
    font-size: 22px;
    font-weight: normal;
    border-bottom: 2px solid #efefef;
}

.authen .southe h1 .child3 {
    margin-top: 24px;
    margin-left: 43px;
    display: inline-block;
}

.authen .southe .content {
    width: 139px;
    height: 195px;
    margin: 45px auto 0;
    text-align: center;
}

.authen .southe .content .child4 {
    margin-top: 35px;
    display: inline-block;
}
/*修改手机号*/

.moke {
    width: 1000px;
    height: 700px;
    clear: both;
    margin: 0 auto;
    background-color: #ffffff;
}

.moke .mophone {
    width: 1000px;
    height: 62px;
    line-height: 62px;
    color: #333333;
    font-size: 18px;
    border-bottom: 1px solid #efefef;
}

.moke .mophone span {
    margin-left: 21px;
}

.moke .child3 {
    width: 1000px;
    height: 350px;
    clear: both;
}

.moke .child3 .fly1 {
    width: 540px;
    height: 58px;
    margin: 25px auto 0;
}

.moke .child3 .fly1 .tes1 {
    height: 30px;
}
.moke .child3 .fly1 .tes1 .pro1 {
    float: left;
    display: inline-block;
    margin-left: 20px;
}
.moke .child3 .fly1 .tes1 .pro2 {
    float: left;
    margin: 15px auto;
    display: inline-block;
}
.moke .child3 .fly1 .tes1 .pro3 {
    float: left;
}

.moke .child3 .fly1 .tes1 .pro4 {
    margin: 15px auto;
    float: left;
}

.moke .child3 .fly1 .tes1 .pro5 {
    float: left;
    margin: 15px auto;
}

.moke .child3 .fly1 .tes1 .pro6 {
    float: left;
}

.moke .child3 .fly1 .tes2 {
    height: 30px;
    font-size: 18px;
}

.moke .child3 .fly1 .tes2 .day1 {
    float: left;
    color: #0084E8;
    display: inline-block;
    margin-top: 5px;
}

.moke .child3 .fly1 .tes2 .day2 {
    float: left;
    color: #0084E8;
    display: inline-block;
    margin: 5px 0 0 153px;
}

.moke .child3 .fly1 .tes2 .day3 {
    float: left;
    color: #d9d9d9;
    display: inline-block;
    margin: 5px 0 0 148px;
}

.moke .child3 .flyer2 {
    width: 568px;
    height: 242px;
    margin: 66px auto 0;
}
.moke .child3 .flyer2 .yers1 {
    height: 44px;
    line-height: 44px;
}
.moke .child3 .flyer2 .yers1 .mok1 {
    float: left;
    color: #bb080b;
}
.moke .child3 .flyer2 .yers1 .mok2 {
    float: left;
}
.moke .child3 .flyer2 .yers1 .mok3 {
    float: left;
    margin-left: 32px;
    height: 44px;
    width: 272px;
    font-size: 14px;
    padding-left: 17px;
    border-radius: 4px;
    border: 2px solid #d6d6d6;
}
.moke .child3 .flyer2 .yers1 .prompt {
    font-size: 13px;
    color: #cc0202;
    float: left;
}
.moke .child3 .flyer2 .yers1 .prompt .mpt1 {
    position: relative;
    top: 15px;
    left: 10px;
    float: left;
}
.moke .child3 .flyer2 .yers1 .prompt .mpt2 {
    float: left;
    margin-left: 15px;
}
.moke .child3 .flyer2 .yers2 {
    height: 44px;
    line-height: 44px;
    margin-top: 55px;
}
.sz{font-size: 16px;}
.moke .child3 .flyer2 .yers2 .mok4 {
    float: left;
    color: #bb080b;
}

.moke .child3 .flyer2 .yers2 .mok5 {
    float: left;
}

.moke .child3 .flyer2 .yers2 .mok6 {
    float: left;
    width: 152px;
    margin-left: 32px;
    height: 44px;
    font-size: 14px;
    padding-left: 17px;
    border-radius: 4px;
    border: 2px solid #d6d6d6;
}

.moke .child3 .flyer2 .yers2 .mok7 {
    float: left;
    margin-left: 30px;
    color: #0084e8;
    text-decoration: underline;
}

.moke .child3 .flyer2 .yers2 .mok8 {
    float: left;
    margin-left: 28px;
    color: #d9d9d9;
}

.moke .child3 .flyer2 .yers2 .mok8 b {
    font-weight: normal;
    color: #0084e8;
}

.moke .child3 .flyer2 .yers3 {
    float: left;
    height: 44px;
    width: 257px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 27px;
    line-height: 44px;
    text-align: center;
    padding-left: 15px;
    border-radius: 4px;
    text-decoration: none;
    margin: 53px 0 0 122px;
    background-color: #0084e8;
}

/*修改完成页*/
.moke .changeco {
    width: 1000px;
    height: 540px;
    background-color: #ffffff;
}

.moke .changeco .cos1 {
    width: 538px;
    height: 61px;
    margin: 25px auto 0;
}

.moke .changeco .cos1 .tosh {
    height: 30px;
}

.moke .changeco .cos1 .tosh .tosh1 {
    float: left;
    margin-left: 20px;
}

.moke .changeco .cos1 .tosh .tosh2 {
    float: left;
    margin: 15px auto;
}

.moke .changeco .cos1 .tosh .tosh3 {
    float: left;
}

.moke .changeco .cos1 .tosh .tosh4 {
    float: left;
    margin: 15px auto;
}

.moke .changeco .cos1 .tosh .tosh5 {
    float: left;
}

.moke .changeco .cos2 {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #0084e8;
}

.moke .changeco .cos2 .tosh6 {
    float: left;
    margin-top: 5px;
}

.moke .changeco .cos2 .tosh7 {
    float: left;
    margin-left: 153px;
    margin-top: 5px;
}

.moke .changeco .cos2 .tosh8 {
    float: right;
    margin-top: 5px;
}

.moke .changeco .cos3 {
    width: 538px;
    height: 274px;
    margin: 0 auto;
    text-align: center;
}

.moke .changeco .cos3 .corse {
    width: 140px;
    height: 196px;
    margin: 78px auto 0;
}

.moke .changeco .cos3 .corse .corse1 {
    font-size: 18px;
    color: #0084e8;
    margin-top: 34px;
    display: inline-block;
}

/*success style*/
.success{
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    background-color: #EEEEEE;
}
.success .successdiv{
    width: 555px;
    height: 30px;
    margin: 0 auto;
    margin-top: 25%;
}
.success .succfollow{
    display: inline-block;
    float: left;
    width: 523px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 24px;
    color: #cccccc;
    text-align: center;
}
.success .successdiv img{
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
}
.success .succfollow .click{
    color: #4ab620;
    text-decoration: none;
}

/*error style*/
.errorpage{
    width: 1000px;
    height: 817px;
    margin: 0 auto;
    background-color: #fafefe;
}
.errorpage .error{
    width: 510px;
    height: 176px;
    margin: 0 auto;
    padding-top: 152px;
}
.errorpage .errorfollow{
    width: 552px;
    height: 190px;
    margin: 0 auto;
    margin-top: 42px;
    background-color: #ffffff;
}
.errorpage .errorfollow .errorprompt{
    display: inline-block;
    width: 90px;
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    color: #313131;
    margin: 20px 0 0 30px;
}
.errorpage .errorfollow .errorword{
    font-size: 18px;
    color: #cccccc;
    margin: 28px 0 0 30px;
}
.errorpage .errorfollow .previous-page{
    display: inline-block;
    width: 140px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #ffffff;
    margin-top: 36px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #F8631F;
}
.errorpage .errorfollow .vious{
    margin: 0 72px 0 99px;
}

/*新手指南*/
.newbie{
    width: 100%;
}
.newbie .newbanner{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.newbie .newbanner img{
    width: 100%;
    height: 100%;
}
.newbie .newmain{
    width: 1000px;
    margin: 0 auto;
}
.newbie .newmain .understand{
    width: 1000px;
    height: 180px;
    padding-top: 40px;
}
.newbie .newmain .stand1{
    display: block;
    width: 347px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    border-radius: 18px;
    background-color: #0084e8;
}
.newbie .newmain .understand .stand2{
    display: block;
    width: 900px;
    height: 87px;
    font-size: 18px;
    color: #333333;
    margin: 0 auto;
    margin-top: 35px;
    text-indent: 36px;
    line-height: 30px;
}
.newbie .newmain .advantage{
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fafefe;
}
.newbie .newmain .advantage .tagepic{
    width: 1000px;
    margin-top: 40px;
    background-color: #f8f8f8;
}
.newbie .newmain .advantage .tagepic .tagefirst{
    width: 612px;
    height: 180px;
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
}
.newbie .newmain .advantage .tagepic .tagefirst .tage1{
    display: inline-block;
    position: absolute;
    width: 136px;
    height: 177px;
    top: 20px;
    text-align: center;
}
.newbie .newmain .advantage .tagepic .tagefirst .tage1 .inside1{
    display: block;
    width: 109px;
    height: 109px;
    margin: 0 auto;
}
.newbie .newmain .advantage .tagepic .tagefirst .tage1 .inside2{
    display: block;
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 22px;
    color: #0084e8;
}
.newbie .newmain .advantage .tagepic .tagefirst .tage2{
    width: 202px;
    height: 177px;
    left: 209px;
}
.newbie .newmain .advantage .tagepic .tagefirst .tage3{
    width: 141px;
    height: 177px;
    left: 472px;
}
.newbie .newmain .advantage .tagepic .tagesecond{
    width: 820px;
    height: 190px;
    position: relative;
    margin: 0 auto;
    margin-top: 28px;
}
.newbie .newmain .advantage .tagepic .tagesecond .tage4{
    display: inline-block;
    position: absolute;
    width: 109px;
    height: 176px;
}
.newbie .newmain .advantage .tagepic .tagesecond .tage4 .inside4{
    display: block;
    width: 109px;
    height: 109px;
}
.newbie .newmain .advantage .tagepic .tagesecond .tage4 .inside5{
    display: block;
    position: absolute;
    bottom: 0;
    left: 44px;
    font-size: 22px;
    color: #0084e8;
}
.newbie .newmain .advantage .tagepic .tagesecond .tage5{
    left: 237px;
}
.newbie .newmain .advantage .tagepic .tagesecond .tage6{
    left: 475px;
}
.newbie .newmain .advantage .tagepic .tagesecond .tage7{
    right: 0;
}
.newbie .newmain .advantage .tagepic .tagesecond .tage7 .inside6{
    display: block;
    position: absolute;
    bottom: 0;
    left: 23px;
    font-size: 22px;
    color: #0084e8;
}
.newbie .newmain .advantage .operation{
    width: 1000px;
    margin-top: 37px;
    background-color: #fafefe;
}
.newbie .newmain .advantage .operation .project{
    width: 1000px;
    height: 168px;
}
.newbie .newmain .advantage .operation .project .pro1{
    display: block;
    width: 438px;
    height: 23px;
    font-size: 18px;
    color: #333333;
    margin: 0 auto;
    margin-top: 35px;
    line-height: 23px;
    text-align: center;
}
.newbie .newmain .advantage .operation .project .pro2{
    display: block;
    width: 510px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #333333;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}
.newbie .newmain .advantage .operation .project .pro2 .low{
    display: inline-block;
    width: 78px;
    height: 35px;
    color: #FFFFFF;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #F8631F;
}
.newbie .newmain .advantage .operation .basic-flow{
    width: 1000px;
    height: 373px;
    margin-top: 32px;
    background-color: #f8f8f8;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox{
    width: 846px;
    height: 345px;
    margin: 0 auto;
    padding-top: 16px;
    position: relative;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .box1{
    margin: 16px 40px;
    position: absolute;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .boxround{
    position: absolute;
    width: 92px;
    height: 92px;
    top: 37%;
    left: 1%;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .bund1{
    position: absolute;
    z-index: 0;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .boxround .bund2{
    position: relative;
    display: inline-block;
    width: 61px;
    height: 38px;
    font-size: 14px;
    color: #ffffff;
    z-index: 1;
    top: 25px;
    left: 15px;
    text-align: center;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .boxmiddle{
    position: absolute;
    width: 92px;
    height: 92px;
    top: 37%;
    left: 378px;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .boxmiddle .bund3{
    position: relative;
    display: inline-block;
    width: 57px;
    height: 22px;
    font-size: 18px;
    color: #ffffff;
    z-index: 1;
    top: 34px;
    left: 18px;
    line-height: 22px;
    text-align: center;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .boxright{
    position: absolute;
    width: 92px;
    height: 92px;
    right: 0;
    top: 37%;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .boxright .bund4{
    position: relative;
    display: inline-block;
    width: 73px;
    height: 37px;
    font-size: 14px;
    color: #FFFFFF;
    z-index: 1;
    top: 27px;
    left: 10px;
    text-align: center;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .reimbu{
    position: absolute;
    width: 100px;
    height: 37px;
    left: 44%;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .reimbu .rei1{
    position: relative;
    font-size: 18px;
    color: #ffffff;
    z-index: 1;
    top: 5px;
    left: 14px;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .semet{
    bottom: 0;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .rrow{
    position: absolute;
    width: 110px;
    height: 90px;
    top: 37%;
    left: 21%;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .rrow .offline{
    position: relative;
    display: inline-block;
    width: 58px;
    height: 35px;
    font-size: 14px;
    color: #FFFFFF;
    z-index: 1;
    top: 25px;
    left: 27px;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .rowright{
    left: 67%;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .dehouse{
    position: absolute;
    width: 33px;
    height: 59px;
    top: 61%;
    left: 37%;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .dehouse .deho{
    position: relative;
    font-size: 14px;
    color: #0084E8;
    top: 39px;
    left: 4px;
    z-index: 1;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .decar{
    position: absolute;
    width: 52px;
    height: 46px;
    top: 65%;
    left: 57%;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .decar .deho1{
    position: relative;
    z-index: 1;
    font-size: 14px;
    top: 27px;
    left: 12px;
    color: #0084E8;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .mortgage{
    position: absolute;
    width: 90px;
    height: 60px;
    top: 69%;
    left: 44%;
    text-align: center;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .mort1{
    display: block;
    font-size: 18px;
    color: #f8631f;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .mort2{
    position: absolute;
    display: block;
    font-size: 14px;
    color: #0084e8;
    top: 42px;
    left: 3px;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .Principal{
    position: absolute;
    width: 361px;
    height: 52px;
    top: 17%;
    left: 49%;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .Principal .prline{
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .Principal .rest{
    position: relative;
    width: 107px;
    height: 37px;
    left: 37%;
    line-height: 37px;
}
.newbie .newmain .advantage .operation .basic-flow .flowbox .Principal .rest .sub1{
    position: relative;
    color: #FFFFFF;
    font-size: 14px;
    z-index: 1;
    left: 7px;
}
.newbie .newmain .advantage .operation .investment{
    width: 1000px;
    height: 180px;
    margin-top: 35px;
}
.newbie .newmain .advantage .operation .investment .registered{
    position: relative;
    width: 470px;
    height: 90px;
    margin: 0 auto;
    margin-top: 35px;
}
.newbie .newmain .advantage .operation .investment .registered .ster{
    position: absolute;
    width: 90px;
    height: 90px;
}
.newbie .newmain .advantage .operation .investment .registered .rest1{
    position: absolute;
    z-index: 0;
}
.newbie .newmain .advantage .operation .investment .registered .regis{
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: #ffffff;
    top: 34px;
    left: 28px;
}
.newbie .newmain .advantage .operation .investment .registered .real-name{
    left: 190px;
}
.newbie .newmain .advantage .operation .investment .registered .real-name .real{
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: #0084e8;
    top: 34px;
    left: 10px;
}
.newbie .newmain .advantage .operation .investment .registered .thetend{
    right: 0;
}
.newbie .newmain .advantage .operation .investment .registered .the1{
    color: #0084e8;
}
.newbie .newmain .advantage .operation .investment .registered .bluearrow{
    position: absolute;
    top: 42%;
    left: 20%;
}
.newbie .newmain .advantage .operation .investment .registered .bluearrow1{
    position: absolute;
    top: 42%;
    left: 60%;
}
.newbie .newmain .advantage .operation .computer{
    width: 1000px;
    height: 412px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    background-color: #f8f8f8;
}
.newbie .newmain .advantage .operation .computer ul{
    width: 454px;
    height: 368px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
}
.newbie .newmain .advantage .operation .computer ul li{
    float: left;
    list-style: none;
}
.newbie .newmain .advantage .operation .computer .coleft{
    position: absolute;
    top: 29%;
    left: 6%;
    cursor:pointer;
}
.newbie .newmain .advantage .operation .computer .coright{
    position: absolute;
    top: 32%;
    right: 6%;
    cursor:pointer;
}
.newbie .newmain .advantage .operation .welfare{
    display: block;
    width: 348px;
    height: 54px;
    line-height: 54px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 22px;
    border-radius: 5px;
    margin-bottom: 178px;
    text-decoration: none;
    background-color: #f8631f;
}

/*最新*/
.mained h1{
    height: 63px;
    font-size: 18px;
    color: #333333;
    line-height: 63px;
    font-weight: normal;
    border-bottom: 2px solid #efefef;
}
.mained h1 .child3{
    display: inline-block;
    margin-left: 18px;
}
.mained .mainter .content{
    width: 566px;
    height: 371px;
    margin: 25px auto 0;
}
.mained .mainter .content .fly1{
    width: 566px;
    height: 63px;
    margin: 0 auto;
}
.fly1 .child4{
    width: 566px;
    height: 30px;
}
.child4 .shift1{
    margin-left: 32px;
}
.child4 .ft-2{
    margin-left: 19px;
}
.mained .mainter .content .fly1 .child5{
    font-size: 16px;
}
.mained .mainter .content .fly1 .child5 .nes1{
    margin-left: 15px;
    margin-top: 5px;
    color: #0084e8;
    display: inline-block;
}
.mained .mainter .content .fly1 .child5 .nes2{
    margin-left: 154px;
    margin-top: 5px;
    color: #cccccc;
    display: inline-block;
}
.mained .mainter .content .fly1 .child5 .rces{
    margin-left: 153px;
}
.mained .mainter .content .fly2{
    width: 568px;
    height: 256px;
    margin-top: 66px;
    font-size: 16px;
}
.mained .mainter .content .fly2 .child6{
    height: 44px;
    line-height: 44px;
}
.mained .mainter .content .fly2 .child6 .nes4{
    float: left;
    color: #c34444;
}
.mained .mainter .content .fly2 .child6 .nes5{
    float: left;
    color: #333333;
}
.mained .mainter .content .fly2 .child6 .mpt1{
    position: relative;
    margin: 0 10px;
    top: 16px;
    float: left;
}
.mained .mainter .content .fly2 .child6 .mpt2{
    font-size: 14px;
    float: left;

}
.mained .mainter .content .fly2 .child6 .typephone{
    float: left;
    margin-left: 68px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 4px;
    width: 259px;
    padding-left: 10px;
    border: 2px solid #cccccc;
}
.mained .mainter .content .fly2 .child6 .nes6{
    float: left;
    margin-left: 68px;
    color: #cccccc;
}
.mained .mainter .content .fly2 .child7{
    height: 44px;
    margin-top: 55px;
    line-height: 44px;
}
.mained .mainter .content .fly2 .child7 .nes6{
    float: left;
    color: #c34444;
}
.mained .mainter .content .fly2 .child7 .nes7{
    float: left;
    color: #333333;
}
.mained .mainter .content .fly2 .child7 .neip{
    height: 40px;
    width: 149px;
    padding-left: 10px;
    line-height: 40px;
    border-radius:4px;
    font-size:14px;
    border: 2px solid #cccccc;
    margin-left: 68px;
    float: left;
}
.mained .mainter .content .fly2 .child7 a{
    float: left;
    color: #0084e8;
    margin-left: 21px;
    text-decoration: underline;
}
.mained .mainter .content .fly2 .child7 .nessk{
    display: inline-block;
    width: 139px;
    float: left;
    margin-left: 21px;
    color: #cccccc;
}
.mained .mainter .content .fly2 .child7 .nessk b{
    font-weight: normal;
    color: #0084e8;
}
.mained .mainter .content .fly2 .chgarn{
    width: 163px;
    height: 44px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    border-radius: 4px;
    line-height: 44px;
    letter-spacing: 23px;
    padding-left: 111px;
    text-decoration: none;
    margin: 60px 0 0 130px;
    background-color: #0084e8;
}

.moke .mainter{
    width: 1000px;
    height: 603px;
}
.moke h1{
    height: 63px;
    font-size: 22px;
    color: #333333;
    line-height: 63px;
    font-weight: normal;
    border-bottom: 2px solid #efefef;
}
.moke h1 .child3{
    display: inline-block;
    margin-left: 24px;
}
.moke .mainter .content{
    width: 566px;
    height: 371px;
    margin: 25px auto 0;
}
.moke .mainter .content .fly1{
    width: 566px;
    height: 63px;
    margin: 0 auto;
}
.moke .mainter .content .fly1 .tes1{
    height: 30px;
}

.moke .mainter .content .fly1 .child4{
    width: 566px;
    height: 30px;
}

.moke .mainter .content .fly1 .child5{
    font-size: 18px;
}
.moke .mainter .content .fly1 .child5 .nes1{
    margin-left: 15px;
    margin-top: 5px;
    color: #0084e8;
    display: inline-block;
}
.moke .mainter .content .fly1 .child5 .nes2{
    margin-left: 154px;
    margin-top: 5px;
    color: #0084e8;
    display: inline-block;
}
.moke .mainter .content .fly1 .child5 .nes3{
    margin-left: 148px;
    margin-top: 5px;
    color: #cccccc;
    display: inline-block;
}
.moke .mainter .content .fly1 .child5 .rces{
    margin-left: 150px;
}
.moke .mainter .content .fly2{
    width: 568px;
    height: 256px;
    margin-top: 66px;
    font-size: 18px;
}
.moke .mainter .content .fly2 .child6{
    height: 44px;
    line-height: 44px;
}
.moke .mainter .content .fly2 .child6 .nes4{
    float: left;
    color: #c34444;
}
.moke  .mainter .content .fly2 .child6 .nes5{
    float: left;
    color: #333333;
}
.moke  .mainter .content .fly2 .child6 .mpt1{
    position: relative;
    margin: 0 10px;
    top: 15px;
    float: left;
}
.moke  .mainter .content .fly2 .child6 .mpt2{
    font-size: 14px;
    float: left;

}
.moke  .mainter .content .fly2 .child6 .typephone{
    float: left;
    margin-left: 38px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 4px;
    width: 259px;
    padding-left: 10px;
    border: 2px solid #cccccc;
}
.moke  .mainter .content .fly2 .child6 .nes6{
    float: left;
    margin-left: 68px;
    color: #cccccc;
}
.moke  .mainter .content .fly2 .child7{
    height: 44px;
    margin-top: 55px;
    line-height: 44px;
}
.moke  .mainter .content .fly2 .child7 .nes6{
    float: left;
    color: #c34444;
}
.moke  .mainter .content .fly2 .child7 .nes7{
    float: left;
    color: #333333;
}
.moke  .mainter .content .fly2 .child7 .prompt1 .mpt1{
    position: relative;
    margin: 0 10px;
    top: 15px;
    float: left;
}
.moke  .mainter .content .fly2 .child7 .prompt1 .mpt2{
    font-size: 14px;
    float: left;

}
.moke  .mainter .content .fly2 .child7 .neip1{
    float: left;
    margin-left: 55px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 4px;
    width: 259px;
    padding-left: 10px;
    border: 2px solid #cccccc;
}
.moke  .mainter .content .fly2 .child7 a{
    float: left;
    color: #0084e8;
    margin-left: 21px;
    text-decoration: underline;
}
.moke  .mainter .content .fly2 .child7 .nes8{
    float: left;
    margin-left: 21px;
    color: #cccccc;
}
.moke  .mainter .content .fly2 .child7 .nes8 b{
    font-weight: normal;
    color: #0084e8;
}
.moke  .mainter .content .fly2 .child8{
    width: 163px;
    height: 44px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    border-radius: 4px;
    line-height: 44px;
    letter-spacing: 23px;
    padding-left: 111px;
    text-decoration: none;
    margin: 60px 0 0 135px;
    background-color: #0084e8;
}
.moke .mophone{
    width: 1000px;
    height: 63px;
    line-height: 63px;
    color: #333333;
    font-size: 16px;
    border-bottom: 2px solid #efefef;
}
.moke .mophone span{
    margin-left: 21px;
}
.moke .changeco{
    width: 1000px;
    height: 540px;
    background-color: #ffffff;
}
.moke .changeco .cos1{
    width: 538px;
    height: 61px;
    margin: 25px auto 0;
}
.moke .changeco .cos1 .tosh{
    height: 30px;
}
.moke .changeco .cos1 .tosh .tosh1{
    float: left;
    margin-left: 20px;
}
.moke .changeco .cos1 .tosh .tosh2{
    float: left;
    margin: 15px auto;
}
.moke .changeco .cos1 .tosh .tosh3{
    float: left;
}
.moke .changeco .cos1 .tosh .tosh4{
    float: left;
    margin: 15px auto;
}
.moke .changeco .cos1 .tosh .tosh5{
    float: left;
}
.moke .changeco .cos2{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #0084e8;
}
.moke .changeco .cos2 .tosh6{
    float: left;
}
.moke .changeco .cos2 .tosh7{
    float: left;
    margin-left: 160px;
}
.moke .changeco .cos2 .tosh8{
    float: right;
}
.moke .changeco .cos3{
    width: 538px;
    height: 274px;
    margin: 0 auto;
    text-align: center;
}
.moke .changeco .cos3 .corse{
    width: 140px;
    height: 196px;
    margin: 78px auto 0;
}
.moke .changeco .cos3 .corse .corse1{
    font-size: 18px;
    color: #0084e8;
    margin-top: 34px;
    display: inline-block;
}


